@model User
<div>
    <form asp-controller="LogIn" asp-action="CreateAccount" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ImagePath">
                <input type="file" name="ImageFormFile" id="ImageFormFile" accept=".png,.jpg" class="form-control" onchange="SetImgSrc()" />
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add</button>
    </form>
    <img src="" id="ActorImage" class="col-4 card" style="object-fit:contain" />
</div>

<a asp-controller="LogIN" asp-action="GetLoginView">Login</a>

@section Scripts{
    <script>
        function SetImgSrc() {
            document.getElementById("ActorImage").src = window.URL.createObjectURL(document.getElementById("ImageFormFile").files[0])
        }
    </script>
}
